<html>
<head>
<title>Contactar</title>
</head>
<body>
    <h1> Contactános <h1>

<!- vamos a la vista /contacto/ y usamos el POST para que pueda enviarnos un correo electronico 
    Le pedimos un asunto un email de contacto y un mensaje descriptivo del asunto ->
    <form action="/contacto/" method="POST"> {% csrf_token %}

        <p> Asunto: <input type="text" name="asunto"> </p>
        <p> EMail de contacto:  <input type="text" name="email"> </p>
        <p> Mensaje: <textarea name="mensaje" rows="15" cols="45"></textarea> </p>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>